<% layout("/layouts/boilerplate") -%>
<!-- The classes used here are all bootstrap classes -->
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Create A New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title"
             class="form-label">Title</label>
        <input name="listing[title]"
         placeholder="Add a catchy title" 
         type="text" 
         class="form-control"
         required
         >
         <div class="valid-feedback">Looks Good!</div>
         <!-- required is for setting that field required,no one can leave then empty -->
        </div>
        
        <div class="mb-3">
            <label for="description"
            class="form-label">Description</label>
            <textarea name="listing[description]" 
            class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description!</div>
        
        </div>
       
       
        

        <div class="mb-3">
            <label for="image"
            class="form-label">Upload Image </label>
            <input name="listing[image]" 
            type="file"  class="form-control"
            required>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price"
            class="form-label">Price</label>
            <input name="listing[price]" 
            placeholder="1200"  
            class="form-control"
            required>
            <div class="invalid-feedback">Please enter valid price!</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country"
            class="form-label">Country</label>
            <input name="listing[country]" 
            placeholder="India" type="text"
            class="form-control"
            required>
            <div class="invalid-feedback">Please enter the country name!</div>
        </div>
    </div>
       
        <div class="mb-3">
            <label for="location"
            class="form-label">Location</label>
            <input name="listing[location]" 
            placeholder="Jaipur,Rajasthan" type="text"
            class="form-control"
            required>
            <div class="invalid-feedback">Please enter location name!</div>
        </div>
       
   
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br><br>
    </form>
</div>
</div>
</body>

